.form-heading{
    font-size: 1.6rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
    margin-top: 2rem;
}
.form-label{
    display: block;
    font-size: 1.6rem;
    margin-bottom: 1rem; 
    margin-top: 2rem;
}

.input-elements{
    padding: 1rem;
    width: 90%;
}
.form-container{
    margin: 1rem;
}

.button-container{
    text-align: center;
    margin-top: 2rem;
}

.button-container button{
    background-color: #19105b;
    padding: 1rem 3rem;
    color : white;
    font-size: 1.3rem;
    border: 0;
    outline: 0;
}

/* .active{
    background-color: #fa4299;
    padding: 1rem;
    color:white;
    
  } */ 